In [1]:
#importing all imp. libraries to be used
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Movie_regression.csv", header=0)

In [3]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
Marketing expense      506 non-null float64
Production expense     506 non-null float64
Multiplex coverage     506 non-null float64
Budget                 506 non-null float64
Movie_length           506 non-null float64
Lead_ Actor_Rating     506 non-null float64
Lead_Actress_rating    506 non-null float64
Director_rating        506 non-null float64
Producer_rating        506 non-null float64
Critic_rating          506 non-null float64
Trailer_views          506 non-null int64
3D_available           506 non-null object
Time_taken             494 non-null float64
Twitter_hastags        506 non-null float64
Genre                  506 non-null object
Avg_age_actors         506 non-null int64
Num_multiplex          506 non-null int64
Collection             506 non-null int64
dtypes: float64(12), int64(4), object(2)
memory usage: 71.3+ KB

In [5]:
#Missing value treatment
df['Time_taken'].mean()

157.39149797570855

In [6]:
#we will replace missing values with the mean
df['Time_taken'].fillna(value = df['Time_taken'].mean(), inplace = True)

In [7]:
#Dummy Variables creation
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400

In [8]:
df = pd.get_dummies(df,columns = ["3D_available","Genre"], drop_first = True)

In [9]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,48000,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,43200,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,69400,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,66800,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,72400,0,0,1,0

In [10]:
#X-y split
X=df.loc[:,df.columns!="collection"]
type(X)

pandas.core.frame.DataFrame

In [11]:
X.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,48000,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,43200,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,69400,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,66800,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,72400,0,0,1,0

In [12]:
X.shape

(506, 20)

In [13]:
y = df["Collection"]
type(y)

pandas.core.series.Series

In [14]:
y.head()

0    48000
1    43200
2    69400
3    66800
4    72400
Name: Collection, dtype: int64

In [15]:
# Train-Test-Split
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [17]:
X_train.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
5,20.5970,59.36,0.542,35718.650,132.2,6.890,7.100,6.885,7.005,7.26,498425,143.48,284.592,53,460,57400,1,1,0,0
116,22.6316,75.02,0.453,34307.680,146.0,8.535,8.645,8.500,8.860,8.44,432696,130.48,263.392,23,528,42400,0,1,0,0
45,23.4284,68.82,0.552,31563.510,107.3,7.385,7.525,7.395,7.490,8.42,470466,161.72,223.088,21,445,38600,0,0,0,1
16,41.0786,71.28,0.462,32968.925,102.8,7.670,7.805,7.740,7.785,7.80,532331,109.24,203.696,46,547,46200,0,1,0,0
468,331.5140,91.20,0.420,32918.930,144.5,8.520,8.550,8.440,8.670,6.96,383739,117.64,303.056,28,494,38200,0,1,0,0

In [18]:
X_train.shape,y_train.shape

((354, 20), (354,))

In [19]:
X_test.shape

(152, 20)

In [20]:
#Standardisation data
from sklearn.preprocessing import StandardScaler

In [21]:
sc = StandardScaler().fit(X_train)

In [22]:
X_train_std = sc.transform(X_train)

In [23]:
X_test_std = sc.transform(X_test)

In [24]:
X_test_std

array([[-0.406801  , -1.02225586,  0.40521827, ...,  1.48935618,
        -0.49646639, -0.76181175],
       [-0.41105674, -0.68165068,  0.94540271, ..., -0.67143106,
        -0.49646639,  1.31266025],
       [-0.4051199 ,  2.39678516, -0.44364301, ...,  1.48935618,
        -0.49646639, -0.76181175],
       ...,
       [-0.35439903, -0.71195877,  0.4566644 , ..., -0.67143106,
        -0.49646639,  1.31266025],
       [ 0.25423453,  1.00549958, -1.33537606, ..., -0.67143106,
        -0.49646639, -0.76181175],
       [ 0.77732457,  1.00549958, -1.56688368, ...,  1.48935618,
        -0.49646639, -0.76181175]])

In [25]:
from sklearn.svm import SVR

In [26]:
svr = SVR(kernel='linear',C = 1000)

In [28]:
svr.fit(X_train_std,y_train)

SVR(C=1000, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='linear', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
# Prediction

In [30]:
y_test_pred = svr.predict(X_test_std)
y_train_pred = svr.predict(X_train_std)

In [31]:
y_test_pred

array([47200.0662664 , 64800.03599209, 27200.06056893, 45600.03142069,
       32200.04906998, 40000.07528993, 35600.00203194, 28000.03036115,
       39200.07081661, 33600.07689647, 43000.03503383, 37800.00743401,
       13999.93372722, 42400.09149106, 37000.05655409, 59600.01489917,
       37600.03644709, 20399.95492865, 99999.92067177, 28200.06812332,
       50400.05853392, 58200.04381812, 25400.02778192, 44800.08518274,
       28400.06141736, 27600.08330607, 40600.07336903, 28800.02705807,
       43400.00519072, 36600.03590951, 46200.01866274, 47600.0726384 ,
       30000.12764281, 41599.98986959, 38199.98883266, 38799.95255557,
       69400.3345907 , 39000.04740562, 48799.97741605, 46800.08435172,
       39399.9814393 , 56400.06271807, 99999.8936633 , 34800.07137259,
       45200.12244067, 30200.04840302, 26200.07527046, 48400.08152661,
       39800.02217493, 48000.05923514, 37800.02536703, 70800.00695931,
       30400.03912592, 53000.05088931, 86999.98422642, 42400.0591918 ,
       29600.05722888, 57000.07723387, 47800.02853737, 36999.96865113,
       49999.97910153, 70799.94130387, 63000.08580249, 40400.03488632,
       48199.95985935, 39999.97415862, 26200.09612059, 49600.03231754,
       61600.06040049, 25400.01768681, 40000.06973818, 47400.07592627,
       21600.02156431, 41199.99426045, 41600.09574847, 10000.02643948,
       40200.03621693, 96999.91764604, 21800.06990906, 14000.10549624,
       41800.05633402, 34399.97537665, 41799.98829586, 19400.0007551 ,
       38800.06955183, 58000.05241161, 32800.05352387, 50000.06139496,
       50000.1120508 , 34200.07356355, 46400.08646715, 20800.00717156,
       39200.03806296, 34400.00347344, 54999.99106111, 46000.04294061,
       99999.81380289, 35799.90829983, 19200.07644637, 34400.04384598,
       45000.01342357, 42800.07699167, 24000.03649157, 39800.07679565,
       38800.08330712, 26800.30201584, 36400.07013245, 49200.06115835,
       42200.01823763, 49400.02398622, 16400.03341611, 54999.9887647 ,
       41400.05894317, 72399.95118178, 63200.01058818, 23400.07862905,
       79599.99401098, 27800.07547591, 43600.05763111, 47400.09204282,
       35199.98637563, 48800.04271652, 17600.05676684, 38400.08208277,
       50600.05506103, 40800.06397874, 46200.01813365, 75800.02952732,
       31200.04866269, 90799.92626363, 31400.00300105, 45200.05082294,
       29000.06638239, 37400.06131654, 35599.92479565, 32200.10768996,
       41200.05456676, 63200.0015093 , 58200.05161065, 31200.04106892,
       35000.02288757, 45000.07142235, 38800.0584873 , 38599.96180841,
       17000.02138329, 41200.07071676, 34000.04128658, 34200.02890246,
       29000.03925818, 99999.90860992, 28600.05876396, 25200.06401766])

In [32]:
# how our model is performing

In [33]:
from sklearn.metrics import mean_squared_error,r2_score

In [34]:
mean_squared_error(y_test,y_test_pred)

0.004848783150621068

In [35]:
r2_score(y_train,y_train_pred)

0.9999999999901472

In [36]:
r2_score(y_test,y_test_pred)

0.9999999999838093